.item {
	height: 30px;
	padding: 0px 0px 0px 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	border-radius: 4px;
	background: var(--bg);

	p {
		color: var(--cyan);
		font-weight: 700;
	}

	button {
		width: 30px;
		height: 100%;
		background: var(--cyan);
		border-radius: 0px 4px 4px 0px;
		border: none;
		cursor: pointer;
		transition: all 0.4s;

		&:hover {
			transition: all 0.4s;
			background-color: var(--dark-gray);
		}

		img {
			position: relative;
			top: 1.5px;
		}
	}
}
